.logo { 
  position: absolute;
  top: -100%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.ygo { 
 display: none;
 position: relative;
 left: 300px;
 top: 28px;
 
}
body{
  background-color: slateblue;
  color: white;
  text-align: center;
  max-width: max-content;
  margin: auto;
   position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

label{
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}


button { 
  font-family: Helvetica, sans-serif;
  background-color: white;
  //border: groove;
  cursor: pointer;
  font-size: 25px;
}

#copy { 

 //margin-right: 17px;
}

input {
  border: groove; 
  border-color: black;
  border-width: thin;
  font-size: 25px;
  
}

input[type=checkbox] {
    transform: scale(2);
    border: none;
    margin: 0 10px 0;
}

.length_Box { 
  width: 5.5%;
}